*{
    margin: 0;
    padding: 0;
}

.top{
    padding-bottom: 15px;
}

.header{
    padding-top: 14px;
}

.header_blok_link{
    padding-top: 26px;
    padding-bottom: 48px;
}

.header_link{
    text-decoration: none;
    color: black;
}

.header_link_home{
    text-decoration: none;
    color: #F25822;
}

.top_content{
padding-top: 21px;
}

.top_content_text{
    padding-top: 15px;
    padding-bottom: 27px;
}

.top_content_buttons{
    padding-bottom: 38px;
}

.button_1{
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    color:aliceblue;
    border: none;
}

.top_logos{
    padding-bottom: 32px;
}